<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments.html :: headerfiles"></head>

<body>
<header th:insert="fragments.html :: nav"></header>

<div class="container">
    <div class="jumbotron">
        <h1>Widok dla kierowcy</h1>
        Logged user: <span sec:authentication="name">Bob</span>
    </div>
</div>
<!--/*@thymesVar id="id" type="pl.grafikpka.model.User"*/-->
<div class="col-md-3">
    <div th:each="schedule : ${schedules}">
        <div><a href="/users/workDay" th:href="@{'/users/workDay/'+ ${schedule.getDate()}}" th:text="${schedule.date}"></a></div>
    </div>
</div>
</body>
</html>