<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments.html :: headerfiles"></head>

<body>
<header th:insert="fragments.html :: nav"></header>

<div class="container">
    <div class="jumbotron">
        <h1>Widok dla kierowcy</h1>
        Logged user: <span sec:authentication="name">Bob</span>
    </div>
</div>
<!--/*@thymesVar id="id" type="pl.grafikpka.model.User"*/-->
<div class="col-md-3">
    <div th:each="schedule : ${schedules}">
        <div><a href="/users/workDay" th:href="@{'/users/workDay/'+ ${schedule}}" th:text="${schedule}"></a></div>
    </div>
<!--    <table>-->
<!--        <tr>-->
<!--            <th>No</th>-->
<!--            <th>Color</th>-->
<!--            <th>Cars</th>-->
<!--        </tr>-->
<!--        <tr th:each="entry, stat : ${schedules}">-->
<!--            <td th:text="${stat.index + 1}">1</td>-->
<!--            <td th:text="${entry.key}">color</td>-->
<!--            <td>-->
<!--                <table>-->
<!--                    <tr th:each="car : ${entry.value}">-->
<!--                        <td th:text="${#dates.format(schedule.getDate(), 'yyyy-MM-dd')}"></td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->

</div>
</body>
</html>