<!DOCTYPE html>
<html lang="en">
<html lang="pl" xmlns:th="http://www.thymeleaf.org" >
<head th:insert="fragments.html :: headerfiles"></head>
<div class="container-fluid">
    <header th:insert="fragments.html :: nav"></header>
<!--    <section class="workDay" th:each="schedule : ${schedules}">-->
<!--            <div class="workHours" th:text="${schedule.getLinia()}"></div>-->
<!--            <div class="workHours" th:text="${schedule.getPoczatekPracy()}"></div>-->
<!--            <div class="workHours" th:text="${schedule.getKoniecPracy()}"></div>-->
<!--            <div class="workHours" th:text="${schedule.miejsceZmiany}"></div>-->
<!--    </section>-->
<div class="jumbotron">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Linia</th>
                <th>Rozpoczęcie</th>
                <th>Zakończenie</th>
                <th>Miejsce Zmiany</th>
            </tr>
            </thead>
            <!--/*@thymesVar id="schedules" type="java.util.List"*/-->
            <!--/*@thymesVar id="schedules" type="pl.grafikpka.model.User"*/-->
            <tbody>
            <tr th:each="schedule : ${schedules}">
                <td th:text="${schedule.linia}">111</td>
                <td th:text="${schedule.poczatekPracy}">12:00</td>
                <td th:text="${schedule.koniecPracy}">19.59</td>
                <td th:text="${schedule.miejsceZmiany}">zmiana</td>
            </tr>
            </tbody>
        </table>
</div>

</div>
</body>
</html>