<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="jumbotron">
        <header>
            <h1>
                Strona startowa
            </h1>
            <div class="col-md-12">
                <!--<img class="img-responsive" src="../static/resources/images/header_pka.jpg" th:src="@{/resources/images/header_pka.jpg}"/>-->
            </div><img src="" alt="">
        </header>


</div>
<div th:insert="fragments.html :: footer"></div>
</body>
</html>